In [ ]:
x, y, z = 0, 15, 0

#Checks if any one of the varible has 1 as its value
if x==1 or y==1 or z==1:
  print('passed1')

if 1 in (x, y, z):
  print('passed2')

#If not 0
if x or y or z:
  print('passed3')

if any((x, y, z)):
  print('passed4')

passed3
passed4

In [ ]:
#get() method on dictionary

name_dict = {382:'Alice', 590:'Bob', 951:'Dilbert'}

def greeting(id):
  return 'Hi %s!'%name_dict.get(id, 'there')

print(greeting(382))

print(greeting(600))

Hi Alice!
Hi there!

In [8]:
from collections import namedtuple
Car = namedtuple('Car', 'color mileage')


my_car = Car('red', 3812.4)
print(my_car.color)
print(my_car.mileage)
print(my_car)

red
3812.4
Car(color='red', mileage=3812.4)

In [29]:
#Sorting the list in 

xs = {'a':4,'c':99,'b':3,'d':1}

print(xs.items())

xs_sorted = sorted(xs.items(), key=lambda x: x[1])

print(xs_sorted)

dict_items([('a', 4), ('c', 99), ('b', 3), ('d', 1)])
[('d', 1), ('b', 3), ('a', 4), ('c', 99)]